/**
 * @since 2017-02-20 10:27
 * @author vivaxy
 */

:root {
    --background-color: #eee;
    --primary-color: #666;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.root {
    height: 100%;
}

.demo {
    background-color: var(--background-color);
    color: var(--primary-color);
}
